.swimmer h4 {
  color: #fff;
  padding-top: 0;
  margin: 0;
}

.swimmer h6 {
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  font-size: 1em;
  color: #ccc;
}

.swimmer {
  padding-bottom: 24px;
  border-top: 0px solid #333;
}

.swimmer-header {
  padding: 5px;
  background-color: #222;
}