@import '~antd/dist/antd.css';

html, body, .app {
  height: 100%;
  background-color: #ebebeb;
}

.logo {
  width: 78px;
  height: 30px;
  border-radius: 6px;
  margin: 16px 28px 16px 0;
  float: left;
  background-image: url('./images/TeamCaptainLogo_30h.png');
}