.swim-finalTime {
  font-weight: bold;
  font-size: 1.1em;
}

.swimmer h4 {
  color: #fff;
  padding-top: 0;
  margin: 0;
}

.swimmer h6 {
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  font-size: 1em;
  color: #ccc;
}

.swimmer {
  padding-bottom: 24px;
  border-top: 0px solid #333;
}

.swimmer-header {
  padding: 5px;
  background-color: #455A64;
}

.swim-diffPos {
  color: #F44336 !important;
  font-size: 1.1em;
}

.swim-diffNeg {
  color:#4CAF50 !important;
  font-size: 1.1em;
}

.swim-split {
  font-size: 0.9em;
  color: #78909C;
  padding-right: 16px;
  font-style: italic;
}

.swim-splitTitle {
  font-size: 0.80em;
  font-weight: bold;
  color: #78909C;
  font-style: italic;
}

tr [colspan="4"] {
    text-align: left;
}


.swim-eventTitle {
  font-weight: bold;
  font-size: 1.2em;
}
@media (min-width: 840px) {
.sidenav {
  position: fixed;
  width: 120px;
  left: 16px;
  top: 50px;
  z-index: 2000;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
}
}